{% extends "layout.html" %}
{% block content %}
    <span class="col-lg-6">
    <h1>{{ user["username"] }}</h1>

    {% if user["avatar"] %}
        <img src="data:image/jpg;base64,{{ user["avatar"] }}">
    {% else %}
        <span class="ava_container">
            <img src="{{ user.gravatar(256) }}">
        </span>
    {% endif %}
    {% if session.get("ID") == user["ID"] %}
    </span>
            </span>
    <span class="col-lg-6">
        <div class="profile_info">
    <p>Files: {{ user["files"] }}</p>
    <p>Directories: {{ user["directories"] }}</p>
        </div>
    {% endif %}

{% endblock %}
{% block layout_csrf %}{% endblock %}